
* {
  padding: 0;
  margin: 0;
}

.color-change-on-hover {
  position: relative;
  display: inline-block;
  color: black; /* Original text color */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.color-change-on-hover::before {
  content: attr(data-text); /* Set the content of the pseudo-element */
  position: absolute;
  top:0;
  left:0;
  bottom:-3px;
  right:0;
  overflow: hidden;
  color: gold; /* Color when hovered */
  transition: all 0.3s ease; /* Transition for sliding effect */
  width: 0; /* Initially no width */
  white-space: nowrap; /* Prevent text wrapping */
}

.color-change-on-hover:hover::before {
  width:100%; /* Width expands on hover */
}