/* Reset default values */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Setting common styles */
html {
  background: white;
}

body, html {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

/* Font imports */
@font-face {
  font-family: "League Spartan Bold";
  src: url('fonts/league-spartan/LeagueSpartan-Bold.otf') format('opentype');
}

@font-face {
  font-family: "Sk Modernist";
  src: url('fonts/Sk-Modernist/Sk-Modernist-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url('fonts/notosans/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Noto Sans Regular";
  src: url('fonts/notosans/NotoSans-Regular.ttf') format('truetype');
}

/*** Nav bar hover effect ***/
/**** This is not my code (1.0 of ajnsckjan) ****/
.hover-nav {
  display: inline;
  z-index: 2;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 5px 10px 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  transition: color 0.5s ease-in-out;
  /* backward transition */
  /* backward transition */
}
.hover-nav:hover, .hover-nav:focus {
  outline: 0;
  color: #000000;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}
.hover-nav:before {
  transition: all 0.5s ease-in-out 0s;
}
.hover-nav:after {
  transition: all 0.5s ease-in-out 0s;
}
.hover-nav:hover:after, .hover-nav:focus:after {
  outline: 0;
  background-color: #000000;
  transition: all 0.5s ease-in-out 0s;
}
.hover-nav:hover:before, .hover-nav:focus:before {
  outline: 0;
  background-color: #000000;
  transition: all 0.3s ease-in-out 0s;
}
.hover-nav:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 100%;
}
.hover-nav:hover:before, .hover-nav:focus:before {
  width: 100%;
  height: 100%;
}
.hover-nav:hover {
  color: #FFF !important;
}
.hover-nav:before {
  top: 0%;
  left: 0;
}
/****                   ****/
/*** End borrowed code ***/

#nav-text {
  align-items:center;
  justify-content:center;
}
/* Styling the navigation bar */
nav ul li {
  display:inline-flex;
  position:relative;
  margin: 48px 0px 0px 48px;
}

nav ul li a {
  font-size:26px;
  font-family:"Sk Modernist";
  color: #000000;
}

/* Styles for the home page */
.drop-container {
  display: flex;
  position: relative;
  margin:312px 0 0 60px;
  flex-direction:column;
}

#home-container {
  position: relative;
}

#cursor-tracker {
  position: absolute;
  top: 0%; 
  left: 0%; 
  z-index:-999;
}

.header {
  font-size: 136px;
  font-family: "Noto Sans Bold";
  user-select:none;
}
 
.drop-container p {
  width:fit-content;
  font-size: 40px;
  background-color:#000000;
  padding: 0 10px 5px 10px;
  color:#FFF;
  margin: -2px 0 0 10px;
  font-family: "Noto Sans Regular";
  user-select:none;
}

.drop-in {
  animation: drop-in 5s ease 6000ms backwards;
}
.drop-in-2 {
  animation: drop-in 5s ease 600ms backwards;
}
 
.drop-in-3 {
  animation: drop-in 5s ease 4200ms backwards;
}
 
@keyframes drop-in {
  from {
   opacity: 0;
   transform: translateY(-38px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
}

#skip-button {
  position:fixed;
  bottom:60px;
  right:60px;
  color: #000000;
  font-size:16px;
  font-family: "Noto Sans Regular";
  user-select:none;
}

.enter-border {
  border: solid 0.5px #000000;
  border-radius: 10%;
  padding: 0 1.5px 0 0.5px;
}

/* Styles for the about page */
#about-title-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 72px auto;
  width: 75%;
}

#about-title-header {
  font-size: 72px;
  font-family:"Noto Sans Bold";
  color: #000000;
  margin-bottom: 5px;
}

#about-title-body {
  font-size: 26px;
  font-family:"Noto Sans Regular";
  color: #000000;
}

#about-columns-container {
  display: flex;
  width:90%;
  margin: 0 auto;
}

.about-entry {
  flex: 1;
  margin: 10px;
  padding:10px;
  text-align: center;
}

.about-entry:nth-child(2) {
  margin: 0 50px;
}

.about-entry h1,
.about-entry p {
  color: #000000;
  font-family:"Noto Sans Regular";
  font-size: 18px;
}

.about-entry img {
  width:100%;
  height:auto;
  margin:25px 0;
  border:2px solid #FFF;
}

/* Styles for the web projects page */
#projects-container {
  display: flex;
  position: relative;
  top: 80px;
  width: 80%;
  margin: 0 auto;
}

.projects-container-item {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.projects-container-item h1 {
  display: inline-block;
  padding: 0 20px 3px 20px;
  border-bottom: 5px solid white;
  font-size: 60px;
  color: white;
}

.projects-container-item a {
  text-decoration: none;
  color: gold;
  font-size: 26px;
  margin-top: 25px;
}

