/* Reset default values */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1;
  background: transparent;
}

/* Setting common styles */
body {
  background: #FFF;
}

/* Font imports */
@font-face {
  font-family: "Sk Modernist";
  src: url('fonts/Sk-Modernist/Sk-Modernist-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url('fonts/notosans/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Noto Sans Regular";
  src: url('fonts/notosans/NotoSans-Regular.ttf') format('truetype');
}

/* Styling the nav bar */
nav ul li {
  display: inline-flex;
  position: relative;
  margin: 48px 0px 0px 48px;
}

nav ul li a {
  font-size: 26px;
  font-family: "Sk Modernist";
  letter-spacing: 1px;
  color: #000000;
}

/* Home page */
#cursor-tracker {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.drop-in-nav {
  animation: drop-in-title-nav 2.5s ease 5600ms backwards;
}

#drop-home-container {
  display: flex;
  position: relative;
  margin: 312px 0 0 60px;
  flex-direction: column;
}

.drop-in-title {
  font-size: 136px;
  font-family: "Noto Sans Bold";
  color: #000000;
  user-select: none;
  animation: drop-in-title-nav 2.5s ease 600ms backwards;
}

.drop-in-subtitle {
  animation: drop-in-subtitle 2.5s ease 3100ms backwards;
  width: fit-content;
  font-size: 36px;
  background-color: #000000;
  border-radius: 16px;
  color: #FFF;
  padding: 8px 8px 12px 12px;
  margin: 10px 0 0 10px;
  font-family: "Noto Sans Regular";
  user-select: none;
}

@keyframes drop-in-title-nav {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes drop-in-subtitle {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

#skip-message {
  position: fixed;
  bottom: 60px;
  right: 60px;
  color: #000000;
  font-size: 16px;
  font-family: "Noto Sans Regular";
  user-select: none;
  opacity: 0;
  transition: opacity 1s ease;
}

#skip-message.fade-in {
  opacity: 1;
}

#skip-enter-border {
  border: solid 1px #000000;
  border-radius: 10%;
  padding: 0 2.5px 0.5px 1.5px;
}

/* About page */
#about-title-container {
  display: flex;
  margin: 80px 0 0 75px;
  user-select: none;
}

#about-header {
  font-size: 256px;
  font-family: "Noto Sans Bold";
  color: #000000;
}

#about-subheader {
  font-size: 93px;
  margin: 28px 0 0 25px;
  font-family: "Noto Sans Bold";
  color: #000000;
}

#about-title-body {
  font-size: 30px;
  font-family: "Sk Modernist";
  color: #000000;
  letter-spacing: 1px;
  margin: 20px 0 0 96.50px;
  width: 80%;
}

.about-container {
  margin: 100px 0 0 93px;
}

.about-container p {
  margin: 25px 0 0 4px;
  font-family: "Sk Modernist";
  letter-spacing: 1px;
  font-size: 30px;
  width: 85%;
}

.about-container h1 {
  font-family: "Noto Sans Bold";
  font-size: 72px;
  user-select: none;
}

#about-section-music {
  text-align: right;
  /* Align the section content to the right */
  margin-right: 100px;
  /* Create space on the right side */
}

#about-section-music p {
  margin-left: 185px;
}

#about-section-chess {
  padding-bottom: 100px;
}

/* Projects page */
.projects-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 96px 0 0 84px;
}

.projects-container h1 {
  display: inline-block;
  width: fit-content;
  border: 7px solid #000000;
  padding: 15px;
  user-select: none;
  font-size: 60px;
  font-family: "Noto Sans Bold";
  color: #000000;
  padding-bottom: 15px;
}

.projects-container a {
  text-decoration: none;
  color: #000000;
  width: fit-content;
  font-family: "Sk Modernist";
  letter-spacing: 1px;
  font-size: 34px;
  margin: 25px 0;
}

.project-list {
  list-style: none;
  margin-left: 10px;
}

.project-list li:before {
  content: "- ";
  font-size: 34px;
}

/* Contact page */
.contact-section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 120px 0 0 80px;
}

#contact-title h1 {
  font-size: 96px;
  font-family: "Noto Sans Bold";
}

#contact-title p {
  margin: 24px 0 0 8px;
  font-size: 39px;
  font-family: "Sk Modernist";
  letter-spacing: 1px;
}

.contact-info {
  display: flex;
  position: relative;
  margin-top: 60px;
  align-items: center;
}

.contact-method {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.contact-method img {
  width: 100px;
}

.rotate-and-space-phone {
  transform: rotate(30deg);
  transform-origin: center;
  margin-left: 100px;
}

.recenter-email-text {
  margin-bottom: 10px;
}

.contact-method p {
  font-family: "Sk Modernist";
  font-size: 34px;
  text-align: center;
  letter-spacing: 1px;
  margin-left: 40px;
}

#documents-section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 120px 0 0 80px;
}

#documents-title {
  display: flex;
  flex-direction: column;
  position: relative;
}

#documents-title h1 {
  font-size: 96px;
  font-family: "Noto Sans Bold";
}

#document-list {
  list-style: none;
  margin: 25px 0 100px 16px;
}

#document-list li::before {
  content: '- ';
  font-size: 34px;
}

#document-list a {
  text-decoration: none;
  color: #000000;
  font-family: "Sk Modernist";
  font-size: 34px;
  letter-spacing: 1px;
}

/* Resources page */
#resources-title {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 80px 0 0 80px;
}

#resources-title h1 {
  font-size: 96px;
  font-family: "Noto Sans Bold";
}

#resources-title p {
  margin: 36px 0 0 8px;
  font-size: 36px;
  font-family: "Noto Sans Regular";
  width: 75%
}

.resource-link-and-author {
  margin: 75px 0 50px 85px;
}

.resource-link-and-author a {
  font-size: 48px;
  font-family: "Noto Sans Bold";
  text-decoration: none;
  color: #000000;
}

.resource-link-and-author p {
  margin: 8px 0;
  font-size: 20px;
  font-family: "Sk Modernist";
  letter-spacing: 1px;
  width: 67%
}

/** Borrowed CSS (nav bar hover effect) - see colophon.html **/
.hover-nav {
  display: inline;
  z-index: 1;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none;
  padding: 5px 8px 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 16px;
  transition: color 0.2s ease-in-out;
  position: relative;
}

.hover-nav:hover,
.hover-nav:focus {
  outline: 0;
  color: #000000;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.hover-nav:before,
.hover-nav:after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transition: all 0.2s ease-in-out 0s;
}

.hover-nav:hover:after,
.hover-nav:focus:after {
  outline: 0;
  background-color: #000000;
  transition: all 0.2s ease-in-out 0s;
}

.hover-nav:hover:before,
.hover-nav:focus:before {
  outline: 0;
  background-color: #000000;
  transition: all 0.2s ease-in-out 0s;
}

.hover-nav:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 100%;
}

.hover-nav:hover:before,
.hover-nav:focus:before {
  width: 100%;
  height: 100%;
}

.hover-nav:hover {
  color: #FFF !important;
}

.hover-nav:before {
  top: 0%;
  left: 0;
}

/** End of borrowed code **/

/* Borrowed CSS (text fills from left on hover) */
/* Basic code generated by ChatGPT, tweaked by me */
.color-change-on-hover {
  position: relative;
  display: inline-block;
  color: black;
  /* Original text color */
  transition: color 0.3s ease;
  /* Smooth transition for color change */
}

.color-change-on-hover::before {
  content: attr(hover-text);
  /* Set the content of the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  bottom: -6px;
  right: 0;
  overflow: hidden;
  color: gold;
  /* Color when hovered */
  transition: all 0.3s ease;
  /* Transition for sliding effect */
  width: 0;
  /* Initially no width */
  white-space: nowrap;
  /* Prevent text wrapping */
}

.color-change-on-hover:hover::before {
  width: 100%;
  /* Width expands on hover */
}

/* End of borrowed code */